In [ ]:
#%qtconsole

# Python 
* Python es un lenguaje interpretado que  utiliza espacios o tabulaciones para estructurar el código.
 
* Los objetos son la abstracción de Python para los datos. Todos los datos en un programa de Python están representados por objetos o por relaciones entre objetos.

* Cuando asignamos una variable en python estamos creando una referencia al objeto.

* Python es "strongly-typed language", no podemos hacer conversiones de tipos implicitas y no se pueden realizar operaciones entre objetos de diferente tipo.

* palabras reservadas: : and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, 
if, is, in, import, lambda, not, or, pass, print, try, or, raise, return, while, with, yield.

## Immutabilidad

Un objeto en Python es mutable cuando cualquier elemento que contiene ese objeto puede ser modificado en cualquier momento.

*  **Objetos immutables** en Python: tuplas, strings, booleans, integers, floats
*  **Objetos mutables** en Python: listas, dicts, numpy arrays

## Tipos de datos 

<table>
  <th> escalares
  </th>
  <tr>
    <td>None</td>
  </tr>
  <tr>
    <td>str</td>
  </tr>
  <tr>
    <td>unicode</td>
  </tr>
  <tr>
    <td>float</td>
  </tr>
  <tr>
    <td>bool</td>
  </tr>
  <tr>
    <td>int</td>
  </tr>
  <tr>
    <td>long</td>
  </tr>
  
</table>

### Numbers

In [52]:
num = 101

In [53]:
type(num)

int

In [58]:
print("Division",9/3)
print("Integer division",9//3)
print("Multiplicacion",3*2)
print("Suma",1+1)
print("Resta",2-1)
print("Exponents",2 ** 4)
print("Modulus operator",5 % 3)

Division 3.0
Integer division 3
Multiplicacion 6
Suma 2
Resta 1
Exponents 16
Modulus operator 2

### Strings

In [35]:
s = "hello world"

In [36]:
type(s)

str


<table>

  <tr>
    <td>s.capitalize</td>
    <td>s.format</td>
    <td>s.issuper</td>
    <td>s.rindex</td>
    <td>s.strip</td>
  </tr>
  <tr>
    <td>s.center</td>
    <td>s.index</td>
    <td>s.join</td>
    <td>s.rjust</td>
    <td>s.swapcase</td>
  </tr>
  <tr>
    <td>s.count</td>
    <td>s.isalnum</td>
    <td>s.ljust</td>
    <td>s.rpartition</td>
    <td>s.title</td>
  </tr>
  <tr>
    <td>s.decode</td>
    <td>s.isalpha/td>
    <td>s.lower</td>
    <td>s.rsplit</td>
    <td>s.translate</td>
  </tr>
  <tr>
    <td>s.encode</td>
    <td>s.isdigit/td>
    <td>s.lstrip</td>
    <td>s.rstrip</td>
    <td>s.upper</td>
  </tr>
  <tr>
    <td>s.endswith</td>
    <td>s.islower/td>
    <td>s.partition</td>
    <td>s.split</td>
    <td>s.zfill</td>
  </tr>
  <tr>
    <td>s.expandtabs</td>
    <td>s.isspace/td>
    <td>s.replace</td>
    <td>s.splitlines</td>
    <td>s.find</td>
  </tr>
   <tr>
    <td>s.istitle</td>
    <td>s.rfind/td>
    <td>s.startwith</td>
  </tr>
</table>

**Ejemplos**

In [37]:
s.capitalize()

'Hello world'

In [41]:
print(s.istitle())
print(s.isdigit())
print(s.isalpha())
print(s.islower())
print(s.isupper())
print(s.isspace())
print(s.isspace())

False
False
False
True
False
False
False

In [42]:
s.split(" ")

['hello', 'world']

In [45]:
s.capitalize()

'Hello world'

In [46]:
s.upper()

'HELLO WORLD'

In [47]:
s.lower()

'hello world'

In [48]:
s.startswith("h")

True

In [51]:
s.count("l")

3

### Fechas y hora
https://docs.python.org/3/library/datetime.html

In [2]:
from datetime import datetime, date,time

In [4]:
dt = datetime(2023,1,3,18,0,0)

In [5]:
type(dt)

datetime.datetime

In [6]:
dt

datetime.datetime(2023, 1, 3, 18, 0)


**Métodos**

<table>

  <tr>
    <td>dt.astimezone</td>
    <td>dt.max</td>
    <td>dt.timetuple</td>
    <td>dt.combine</td>
    <td>dt.microsecond</td>
    <td>dt.timetz</td>
  </tr>
  <tr>
    <td>dt.ctime</td>
    <td>dt.min</td>
    <td>dt.today</td>
    <td>dt.date</td>
    <td>dt.minute</td>
    <td>dt.toordinal</td>
  </tr>
  <tr>
    <td>dt.day</td>
    <td>dt.month</td>
    <td>dt.tzinfo</td>
    <td>dt.dst</td>
    <td>dt.now</td>
    <td>dt.tzname</td>
  </tr>
  <tr>
    <td>dt.fold</td>
    <td>dt.replace</td>
    <td>dt.utcfromtimestamp</td>
    <td>dt.fromordinal</td>
    <td>dt.resolution</td>
    <td>dt.utcnow</td>
  </tr>
  <tr>
    <td>dt.fromtimestamp</td>
    <td>dt.second</td>
    <td>dt.utcoffset</td>
    <td>dt.hour</td>
    <td>dt.strftime</td>
    <td>dt.utctimetuple</td>
  </tr>
  <tr>
    <td>dt.isocalendar</td>
    <td>dt.strptime</td>
    <td>dt.weekday</td>
    <td>dt.isoformat</td>
    <td>dt.time</td>
    <td>dt.year</td>
  </tr>
  <tr>
    <td>dt.isoweekday</td>
    <td>dt.timestamp</td>
  </tr>
</table>

**Ejemplos**

In [19]:
#Return a datetime object with new tzinfo attribute tz, adjusting the date and time data so the result is the same UTC time
dt.astimezone()

datetime.datetime(2023, 1, 3, 18, 0, tzinfo=datetime.timezone(datetime.timedelta(0), 'UTC'))

In [21]:
# Return a new datetime object whose date components are equal to the given date object’s, and whose time components are equal to the given time object’s.
datetime.combine(dt.date(), dt.time(), dt.tzinfo)

datetime.datetime(2023, 1, 3, 18, 0)

In [22]:
# Return a string representing the date
dt.ctime()

'Tue Jan  3 18:00:00 2023'

In [26]:
print(dt.date())
print(dt.month)
print(dt.day)
print(dt.year)
print(dt.hour)
print(dt.minute)
print(dt.second)

2023-01-03
1
3
2023
18
0
0

In [ ]:
#Return a string representing the date in ISO 8601 format, YYYY-MM-DD
dt.isoformat()

In [27]:
#Return a datetime with the same attributes, except for those attributes given new values
dt.replace(month=5)

datetime.datetime(2023, 5, 3, 18, 0)

In [18]:
#Convert object to a string according to a given format
#strftime(format)
print(dt.strftime("%Y-%m-%d %H:%M:%S"))
print(dt.strftime("%a %d/%m/%y"))
print(dt.strftime("%x %X"))

2023-01-03 18:00:00
Tue 03/01/23
01/03/23 18:00:00

In [33]:
#Parse a string into a datetime object given a corresponding format
#strptime(date_string, format)
datetime.strptime('Feb 28', '%b %d') #%b: Month as locale’s abbreviated name. #%d Day of the month as a zero-padded decimal number.

datetime.datetime(1900, 2, 28, 0, 0)

### Listas

In [112]:
lista_names = ['mary','paul','anne','charly','david']

In [113]:
lista_names.append("jonh")

In [114]:
# Add an element in a position
lista_names.insert(0,'Pilar')
lista_names

['Pilar', 'mary', 'paul', 'anne', 'charly', 'david', 'jonh']

In [115]:
# Remove an element from a list
lista_names.pop(0)

'Pilar'

In [116]:
lista_names.extend(["pilar","carlos","luis","susan"])
lista_names

['mary',
 'paul',
 'anne',
 'charly',
 'david',
 'jonh',
 'pilar',
 'carlos',
 'luis',
 'susan']

In [117]:
lista_names.sort()
lista_names

['anne',
 'carlos',
 'charly',
 'david',
 'jonh',
 'luis',
 'mary',
 'paul',
 'pilar',
 'susan']

In [118]:
import bisect
# Insert a new element in order to keep the list sorted
bisect.insort(lista_names,"javier")
lista_names

['anne',
 'carlos',
 'charly',
 'david',
 'javier',
 'jonh',
 'luis',
 'mary',
 'paul',
 'pilar',
 'susan']

In [119]:
lista_names[1:2] = ["bea"]
lista_names

['anne',
 'bea',
 'charly',
 'david',
 'javier',
 'jonh',
 'luis',
 'mary',
 'paul',
 'pilar',
 'susan']

In [121]:
for value in enumerate(lista_names):
  print(value)

(0, 'anne')
(1, 'bea')
(2, 'charly')
(3, 'david')
(4, 'javier')
(5, 'jonh')
(6, 'luis')
(7, 'mary')
(8, 'paul')
(9, 'pilar')
(10, 'susan')

In [125]:
# unir dos listas en una tupla
seq1 = ['invierno', 'primavera','verano','otoño']
seq2 = ['1Q', '2Q','3Q','4Q']
tup = zip(seq1,seq2)

In [126]:
for value in tup:
  print(value)

('invierno', '1Q')
('primavera', '2Q')
('verano', '3Q')
('otoño', '4Q')

## Conjuntos

Los conjuntos son colecciones no ordenadas y sin elementos repetidos.

In [136]:
colors = set({'red','yellow','green','blue'})
# colors = {'red','yellow','green','blue'} # otra forma
colors

{'blue', 'green', 'red', 'yellow'}

In [132]:
type(colors)

set

In [133]:
colors.pop()
colors

{'blue', 'green', 'yellow'}

In [135]:
colors.add('red')
colors.add('red')
colors

{'blue', 'green', 'red', 'yellow'}


**Métodos**

<table>

  <tr>
    <td>c.add(x)</td>
    <td>c.remove(x)</td>
    <td>c.union(b)/td>
    <td>c.intersection(b)</td>
    <td>c.difference(b)</td>
    <td>c.symetric_difference(b)</td>
    <td>c.issubset(b)</td>
    <td>c.issuperset(b)</td>
    <td>c.isdisjoin(b)</td>
  </tr>

</table>

In [186]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [188]:
# Union
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [189]:
# Inserseccion
a & b

{3, 4, 5}

In [191]:
# Diferencia
a -b

{1, 2}

### Tuplas

In [147]:
tup = tuple(['foo',[1,2,3],True,'foo','foo','foo'])

In [148]:
type(tup)

tuple

In [149]:
tup.index(True)

2

In [150]:
tup.count('foo')

4

In [151]:
tup[0] = 'no se puede modificar'

TypeError: ignored

### Diccionarios

In [178]:
persona = dict()
#persona = {} # tambien

In [179]:
type(persona)

dict

In [180]:
persona['nombre'] = 'Julia'
persona['edad'] = '18'
persona['cursos'] = ['Go','Python','Java', 'Js','SQL']
persona

{'nombre': 'Julia',
 'edad': '18',
 'cursos': ['Go', 'Python', 'Java', 'Js', 'SQL']}

In [181]:
for key in persona:
  print(key, ":", persona[key])

nombre : Julia
edad : 18
cursos : ['Go', 'Python', 'Java', 'Js', 'SQL']

In [182]:
persona.keys()

dict_keys(['nombre', 'edad', 'cursos'])

In [183]:
persona.values()

dict_values(['Julia', '18', ['Go', 'Python', 'Java', 'Js', 'SQL']])

In [185]:
lista_names = ['mary','paul','anne','charly','david']
lista_edad = ['18','19','20','21','22']
contactos = dict(zip(lista_names,lista_edad))
contactos

{'mary': '18', 'paul': '19', 'anne': '20', 'charly': '21', 'david': '22'}

## Clase
Permite encapsular de forma conjunta atributos (datos) y métodos (acciones). Cuando una clase se instancia da lugar a un objeto.

In [171]:
class Rectangulo:

  def __init__(self,x,y):
    self.x = x
    self.y = y
  def area(self):
    return self.x * self.y
  def perimetro(self):
    return 2* self.x +2*self.y
  def description(self,text):
    self.descripcion = text
  def nombreAutor(self,text):
    self.autor = text
  def cambiarDimensiones(self,scale):
    self.x = self.x * scale
    self.y = self.y * scale

In [161]:
rectangulo1 = Rectangulo(90,35)

In [ ]:
Rectangulo.a

In [172]:
rectangulo1.description("Rectangulo de juguete")
print(rectangulo1.descripcion)
print(rectangulo1.area())

Rectangulo de juguete
3150

# Resources

* https://www.python.org/
* 
https://docs.python.org/3/contents.html
* https://strftime.org/ Python strftime cheatsheet 
* https://pyformat.info/
* https://google.github.io/styleguide/pyguide.html

# Cheat Sheets

In [60]:
from IPython.display import Image
  
Image(url="https://hakin9.org/wp-content/uploads/2020/02/beginnersPythonCheatSheet-01.jpg", width=800, )

In [61]:
 
Image(url="https://hakin9.org/wp-content/uploads/2020/02/beginnersPythonCheatSheet-05.jpg", width=800, )

In [62]:

Image(url="https://hakin9.org/wp-content/uploads/2020/02/beginnersPythonCheatSheet-03.jpg", width=800, )

In [63]:

Image(url="https://intellipaat.com/blog/wp-content/uploads/2022/10/Python-Cheat-Sheet-2022.jpg", width=800, )